# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VSCode
*.ipch
*.json
.vscode/

# keli
*.crf
*.lst
*.sct
*.Bak
*.lnp
*.htm
*.axf
*.dep
*.scvd
*.iex
*.uvguix.*
Cube_Project/MDK-ARM/DebugConfig/*
build/mdk/fsm/
build/mdk/DebugConfig/
RTE_Components.h
# Visio
*.vsd
*.~vsd
!print_string.lib
!msg_map.lib
!check_use_peek.lib


